:root {
  --color-dark: #000;
  --color-light: #fff;
  --color-beige: #f1eadc;
  --color-green: #6e9c9f;
  --color-khaki: #998e78;

  --font-family-base: "Raleway";

  --container-width: 1107px;
  --container-padding-x: 20px;

  --section-padding-y: 65px;

  --transition-duration: 0.2s;
}
